@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Cinzel", serif;
  --font-arabic: "Amiri", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-[#fdfcf8] text-[#1a1a1a] font-sans antialiased;
  }
}

.text-gold {
  color: #004d2c;
}

.bg-gold {
  background-color: #004d2c;
}

.border-gold {
  border-color: #004d2c;
}
